<header class="header">
    <div class="header-left">
        <div class="logo" routerLink="" style="cursor: pointer;">
            <span class="logo-icon"><img src="assets/img/pageicon_big_back.png" alt="logoa"></span>
            <span class="logo-text">BlokLM</span>
        </div>
        <span class="notebook-title" *ngIf="currentNotebook">
                <span class="separator">›</span>
                {{ currentNotebook.title }}
        </span> 
    </div>
    
    <div class="header-right">
        <div class="language-selector">
            <button 
            class="lang-btn" 
            [class.active]="i18n.language === 'eu'"
            (click)="i18n.setLanguage('eu')">
            EU
            </button>
            <button 
            class="lang-btn" 
            [class.active]="i18n.language === 'es'"
            (click)="i18n.setLanguage('es')">
            ES
            </button>
        </div>
    </div>
</header>