/backend/back_venv
/backend/db_utils/db_venv
/backend/.env
/backend/__pycache__
/backend/blok_app/__pycache__
/bloklm/
/podcasts/
/node_modules/
/text_parser
/rag-framework
.env
.vscode/
/backend/screenlog.0
/frontend/screenlog.0
/frontend/angular.json
/frontend/package-lock.json
/frontend/src/environments/environment.ts