<footer class="footer" [class.no-border]="isHomePage">
  <div class="footer-content">
    <div class="footer-left">
        <img src="assets/img/LogosRed.es+PERTE_Lengua.png" alt="Footer Logo" class="footer-logo">
    </div>
    <div class="footer-middle">
        <a href="https://proyectoilenia.es/" target="_blank" rel="noopener noreferrer">
         <img src="assets/img/ILENIA_logo_big.png" alt="ILENIA Logo" class="ilenia-logo">
        </a>
    </div>
    <div class="footer-right">
      <span class="powered-text">Powered by</span>
      <a href="https://www.orai.eus/eu" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/01_orai_urdina_baja.png" alt="ORAI Logo" class="orai-logo">
      </a>
    </div>
  </div>
</footer>